<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SQLBackup.Properties.Settings>
            <setting name="Status" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRunDateTime" serializeAs="String">
                <value />
            </setting>
        </SQLBackup.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SQLBackup.Properties.Settings>
            <setting name="SourceInstanceName" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="SourceDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQLTimeOut" serializeAs="String">
                <value>14400</value>
            </setting>
            <setting name="BackupLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="RestoreInstance" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="RestoreDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoRestore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddDateTimeStamp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCompression" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupType" serializeAs="String">
                <value>Complete</value>
            </setting>
        </SQLBackup.Properties.Settings>
    </applicationSettings>
</configuration>